fashionshop/fashionshop/__pycache__/wsgi.cpython-310.pyc
fashionshop/fashionshop/__pycache__/__init__.cpython-310.pyc
fashionshop/fashionshop/__pycache__/settings.cpython-310.pyc
fashionshop/fashionshop/__pycache__/urls.cpython-310.pyc
